* {
    margin: 0;
    padding: 0;
}

.grid-container {
    max-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-gap: 0.9em;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    margin: 10px;
}

.box1 {
    grid-row:  1 / 4;
    grid-column: 1 / 5;
    background:lightblue;
}

.box2 {
    grid-row: 1 / 7;
    grid-column: 5 / 9;
    background:lightblue;
}

.box3 {
    grid-row: 1 / 3;
    grid-column: 9 / 13;
    background:lightblue;
}

.box4 {
    grid-row: 4 / 7 ;
    grid-column: 1 / 5;
    background:lightblue;
}

.box5 {
    grid-row:  3 / 5;
    grid-column: 9 / 13;
    background:lightblue;
}

.box6 {
    grid-row: 5 / 7;
    grid-column: 9 / 13;
    background:lightblue;
}

.box7 {
    grid-row: 7 / 11;
    grid-column: 1 / 5;
    background:lightblue;
}

.box8 {
    grid-row: 7 / 9 ;
    grid-column: 5 / 7;
    background:lightblue;
}

.box9 {
    grid-row: 9 / 11;
    grid-column: 5 / 7;
    background:lightblue;
}

.box10 {
    grid-row: 7 / 11;
    grid-column: 7 / 11;
    background:lightblue;
}

.box11 {
    grid-row: 7 / 11;
    grid-column: 11 / 13;
    background:lightblue;
}

.box12 {
    grid-row: 11 / 13;
    grid-column: 1 / 13;
    background:lightblue;
    text-align: center;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    color: #000000;
    font-size: 64px;
    line-height: 78px;
    text-transform: uppercase;
}